body {
  font-family: "Elice Digital Baeum",sans-serif;
}

header {
  background-color: gray;
}

nav ul {
  display: flex;
}

header ul li {
  list-style: none;
  padding: 5px;
  margin-right: 10px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

main {
  padding: 10px 30px;
}

main section {
  margin-bottom: 30px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: lightgray;
  padding: 40px 0 20px 30px;
}